<div ng-if="$ctrl.isUserRegistered">
  First name : {{$ctrl.firstName}}
  <br>
  Last name : {{$ctrl.lastName}}
  <br>
  Email Address: {{$ctrl.emailAddress}}
  <br>
  Phone number: {{$ctrl.phoneNumber}}
  <br>
  Favorite dish title: {{$ctrl.favoriteDishTitle}}
  <br>
  Favorite Description: {{$ctrl.favoriteDishDesc}}
  <br>
  <img class="img-responsive" width="250" height="150"
    ng-src="{{$ctrl.favoriteDishImageUrl}}"
    alt="{{$ctrl.favoriteDishTitle}}">
</div>
<div ng-if="!$ctrl.isUserRegistered">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
